src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:system-a-pi-insurance="http://www.mulesoft.org/schema/mule/system-a-pi-insurance" xmlns:system-api-postgres="http://www.mulesoft.org/schema/mule/system-api-postgres" xmlns:system-a-pi-salesforce="http://www.mulesoft.org/schema/mule/system-a-pi-salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/system-a-pi-salesforce http://www.mulesoft.org/schema/mule/system-a-pi-salesforce/current/mule-system-a-pi-salesforce.xsd
http://www.mulesoft.org/schema/mule/system-api-postgres http://www.mulesoft.org/schema/mule/system-api-postgres/current/mule-system-api-postgres.xsd
http://www.mulesoft.org/schema/mule/system-a-pi-insurance http://www.mulesoft.org/schema/mule/system-a-pi-insurance/current/mule-system-a-pi-insurance.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getUserDetails" doc:id="2eafc6c1-4a7f-45e4-a944-a89305b77cff" >
		<choice doc:name="Choice" doc:id="7dad2381-e148-4064-a3f2-854ac059b6cb" >
			<when expression='#[attributes.uriParams.source == "salesforce"]'>
				<system-a-pi-salesforce:get-get-users doc:name="Get get users" doc:id="2bdc2e85-8c35-401a-91a2-7ad5fcd7c8d4" config-ref="SystemAPi_Salesforce_Config" account-id="#[attributes.queryParams.userId]" client-id="${user_salesforce.client_id}" client-secret="${user_salesforce.client_secret}"/>
				<flow-ref doc:name="Flow Reference" doc:id="b3533a95-bade-4ee9-b608-3e9994f2195c" name="AccountToUser"/>
			</when>
			<otherwise >
				<system-api-postgres:get-customers doc:name="Get customers" doc:id="c5529ee3-b086-4718-b00b-ea0d1494935c" config-ref="SystemAPI_Postgres_Config" cust-id="#[attributes.queryParams.userId]" client-id="${user_postgre.client_id}" client-secret="${user_postgre.client_secret}"/>
				<flow-ref doc:name="Flow Reference" doc:id="d9728a51-ee6f-412a-9e94-76d3a8470eba" name="CustomerToUser"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="654dfc00-5b59-4303-aee5-2e10b34dde5b" message="#[payload]"/>
	</flow>
	<flow name="getInsuranceQuotes" doc:id="81c2c986-ea8b-4b30-b573-861fb5e9aedf" >
		<set-variable value="#[attributes.queryParams.insuranceType]" doc:name="Insurance Type" doc:id="058989a2-a910-45a2-ba12-a09edf7226b0" variableName="insuranceType"/>
		<choice doc:name="Choice" doc:id="1bf32382-c5b9-4a8d-a019-e7f92991a0d8" >
			<when expression='#[attributes.uriParams.source == "salesforce"]' >
				<system-a-pi-salesforce:get-get-users doc:name="Get get users" doc:id="d00bc527-0e62-4ca0-bd49-b7ad0dbc9021" config-ref="SystemAPi_Salesforce_Config" account-id="#[attributes.uriParams.userId]" client-id="${user_salesforce.client_id}" client-secret="${user_salesforce.client_secret}" />
				<flow-ref doc:name="Flow Reference" doc:id="1e6a4a3f-fc0e-4bc3-9041-650c649fe17b" name="AccountToUser"/>
			</when>
			<otherwise >
				<system-api-postgres:get-customers doc:name="Get customers" doc:id="23e7072b-0127-4de5-b6bc-cf5a5d520eb7" config-ref="SystemAPI_Postgres_Config" cust-id="#[attributes.uriParams.userId]" client-id="${user_postgre.client_id}" client-secret="${user_postgre.client_secret}" />
				<flow-ref doc:name="Flow Reference" doc:id="707f674c-cded-4030-ad6e-d24f1d1e5da5" name="CustomerToUser"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="e2ea9b34-b18f-4a26-8220-0dfd57dee40b" message='#["Insurance Type : " ++ vars.insuranceType]'/>
		<system-a-pi-insurance:get-getquotes doc:name="Get getquotes" doc:id="d309284a-9709-42c9-8339-fe275b4d86e4" config-ref="SystemAPi_Insurance_Config" insurance-type="#[vars.insuranceType]" client-id="${user_insurance.client_id}" client-secret="${user_insurance.client_secret}"/>
		<logger level="INFO" doc:name="Logger" doc:id="cf9ffa4d-c572-4340-9a7a-24b19a07ecf2" message='#[payload]'/>
	</flow>
	<flow name="createNewUser" doc:id="e226b6a4-32a2-4a87-85c3-1a2aeb488efd" >
		<choice doc:name="Choice" doc:id="c74132d6-a51d-44b7-8157-06441d5fdbae" >
			<when expression='#[attributes.uriParams.source == "salesforce"]' >
				<flow-ref doc:name="Flow Reference" doc:id="4df02464-1ed2-4892-9a1b-79b39540cc26" name="UserToAcount"/>
				<system-a-pi-salesforce:create-add-user doc:name="Create add user" doc:id="f71930ed-ba61-4ed5-a29d-ed837a9cecc8" config-ref="SystemAPi_Salesforce_Config" client-id="${user_salesforce.client_id}" client-secret="${user_salesforce.client_secret}"/>
			</when>
			<otherwise>
				<flow-ref doc:name="Flow Reference" doc:id="247a9020-dc14-45a7-b6fc-71137f6d9b89" name="UserToCustomer"/>
				<system-api-postgres:create-customer doc:name="Create customer" doc:id="793985a1-cbf1-4574-aea8-193c1dde01da" config-ref="SystemAPI_Postgres_Config" client-id="${user_postgre.client_id}" client-secret="${user_postgre.client_secret}"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="2603de5d-40c4-4ea9-8c8b-a2a954c85465" message="#[payload]"/>
	</flow>
	<flow name="updateUser" doc:id="2b6c7436-723d-44ba-a0b2-5afc1aa04e05" >
		<choice doc:name="Choice" doc:id="09e28b42-ed62-41d7-9482-fa0445a815af" >
			<when expression='#[attributes.uriParams.source == "salesforce"]' >
				<flow-ref doc:name="Flow Reference" doc:id="357cd22a-cf27-4acd-8384-04d493e7f712" name="UserToAcount"/>
				<system-a-pi-salesforce:update-update-users doc:name="Update update users" doc:id="2b77ca80-4208-4582-bc69-53f610fcec0f" config-ref="SystemAPi_Salesforce_Config"/>
			</when>
			<otherwise>
				<flow-ref doc:name="Flow Reference" doc:id="777cbf5c-d6e6-4012-a3ba-14d453851496" name="UserToCustomer"/>
				<system-api-postgres:update-customers doc:name="Update customers" doc:id="63f323f5-2ac2-4fab-8769-6e63bcb1f587" config-ref="SystemAPI_Postgres_Config" client-id="${user_postgre.client_id}" client-secret="${user_postgre.client_secret}"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="fe58b63c-4e5e-4b11-a845-0e6b0844fed1" message="#[payload]"/>
	</flow>
	<flow name="CustomerToUser" doc:id="0d2492c4-2eb2-461d-9277-61bdf89a0c18" >
		<ee:transform doc:name="Transform Message" doc:id="4d39f193-a13c-4219-96d8-1ef5bd6de828" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

	{
		"userId" : payload[0].'Customer Id',
		"firstName" : payload[0].'First Name',
		"lastName"	: payload[0].'Last Name',
		"emailAddress"	: payload[0].'Email Address',
		"phone"	: payload[0].'Phone No'
		
	}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="UserToCustomer" doc:id="22320bab-a2d9-4568-9f71-423646a7077f" >
		<ee:transform doc:name="UserToCustomer" doc:id="29f63a66-7a7a-470e-a7da-d30e236a5738" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
		"custId" : payload.userId,
		"firstName" : payload.firstName,
		"lastName"	: payload.lastName,
		"phoneNo"	: payload.phone,
		"emailAddress"	: payload.emailAddress		
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="AccountToUser" doc:id="f4804cef-20f0-4081-b636-db5b3abb7189" >
		<ee:transform doc:name="Transform Message" doc:id="4f3bc9fa-4cdf-4355-925e-ee6fbb9023a8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

	{
		"userId" : payload[0].'Account Id',
		"firstName" : (payload[0].name splitBy(" "))[0],
		"lastName"	: (payload[0].name splitBy(" "))[1],
		"emailAddress"	: payload[0].email,
		"phone"	: payload[0].Phone
		
	}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="UserToAcount" doc:id="62fceea3-a223-4810-8ae3-f337bbd42d6a" >
		<ee:transform doc:name="UserToAccount" doc:id="67dd1eff-4c9d-4d2e-a296-64eff743ffe6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
		"accountId" : payload.userId,
		"firstname" : payload.firstName,
		"lastname"	: payload.lastName,
		"phone"	: payload.phone,
		"email"	: payload.emailAddress		
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
